<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobilefoundationUser</key>
	<string>admin</string>
	<key>conversationUsername</key>
	<string>fd9d0cc9-608f-4354-9b5d-06382203e9ed</string>
	<key>conversationPassword</key>
	<string>KQBY08F4CNrJ</string>
	<key>mobilefoundationPassword</key>
	<string>faradaY_xr</string>
	<key>conversationUrl</key>
	<string>https://gateway.watsonplatform.net/assistant/api</string>
	<key>mobilefoundationUrl</key>
	<string>https://watson-chatbot-ios-start-mobilxrmufvhud4-server.mybluemix.net</string>
	<key>appName</key>
	<string>WatsonChatbotiOSStarter</string>
</dict>
</plist>
